@model IEnumerable<WebApp.Models.DataModels.Entities.Event>
@{
    ViewData["Title"] = "Home Page";
}
@using WebApp.Models.DataModels.Entities
<h1>Доска мероприятий</h1>
<div class="col d-flex flex-column">
    <div class="row justify-content-center sort-links">
        <label>Сортировать по: </label>
        <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Дате</a>
        <a asp-action="Index" asp-route-sortOrder="@ViewData["PartisipantsSortParm"]">Участникам</a>
    </div>
    <div class="custom-control custom-checkbox d-flex justify-content-center">
        <input type="checkbox" class="custom-control-input" id="showOldEvents">
        <label class="custom-control-label" for="showOldEvents">Показать прошлые мероприятия</label>
    </div>
    <div class="row justify-content-center showOnly">
        <label>Оставить только: </label>
    </div>
    <div class="row justify-content-center eventThemesRow">
        @foreach (var theme in Enum.GetValues(typeof(EventTheme)))
        {
            var checkBoxId = "showTheme" + (int)theme;
            <div class="custom-control custom-checkbox d-flex justify-content-center">
                <input type="checkbox" checked class="custom-control-input" id="@checkBoxId">
                <label class="custom-control-label" for="@checkBoxId">@theme</label>
            </div>
        }
    </div>
</div>
<partial name="_EventsBoard" />