@model WebApp.Models.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link active">Информация</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#delete" data-toggle="tab" class="nav-link">Дополнительно</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="edit">
                    <form role="form" asp-action="ChangeUserData" asp-controller="UserProfile">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "Не удалось изменить данные, попробуйте снова")
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Имя</label>
                                <div class="col-lg-9">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Фамилия</label>
                                <div class="col-lg-9">
                                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                <div class="col-lg-9">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Изменить пароль</label>
                                <div class="col-lg-9">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Подтвердите пароль</label>
                                <div class="col-lg-9">
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input type="reset" class="btn btn-secondary" value="Отмена">
                                    <input type="submit" class="btn btn-primary" value="Сохранить изменения">
                                </div>
                            </div>
                        }
                    </form>
                </div>
                <div class="tab-pane" id="delete">
                    <h6>Для удаления аккаунта нажмите на кнопку: </h6>
                    <a asp-action="DeleteUser" asp-controller="UserProfile" class="btn btn-danger" role="button">Удалить аккаунт</a>
                </div>
            </div>
        </div>
    </div>
</div>

