@model WebApp.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="signup-form">
    <form role="form" asp-action="Login" asp-controller="Login">
        <div class="col-xs-8 col-xs-offset-4">
			<h2>Вход</h2>
		</div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "Не удалось войти в аккаунт, попробуйте снова")
            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Пароль: </label>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <div class="col-xs-8 col-xs-offset-4">
				@Html.ActionLink("Забыли пароль?", "ResetPassword", "Login", routeValues: null, htmlAttributes: new { id = "passwordReset", @class = "extra" })
			</div>  
            <input type="submit" value="Войти" class="btn" />
        }
    </form>
</div>
