@model WebApp.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<h2>Восстановление пароля</h2>
<div class="col-md-6">
    @if (TempData["message"] != null)
    {
        string alertType = "alert alert-" + TempData["alertType"];
        <div class="@alertType">
            @TempData["message"]
        </div>
    }
    <form role="form" asp-action="SendResetEmail" asp-controller="Login">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "Ошибка, попробуйте снова")
            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <input type="submit" value="Восстановить пароль" class="btn btn-primary" />
        }
    </form>
</div>

