<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>

    <environment include="Development, Staging, Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" asp-append-version="true">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" asp-append-version="true"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/signup-form.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/custom-form.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/event-editor-form.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/modal-form.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/event-page.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/event-board.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/user-info-edit-form.css" asp-append-version="true">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" asp-append-version="true">
    </environment>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("UrFU_Meetings", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <ul class="nav navbar-nav">
                <li class="nav-item">@Html.ActionLink("Новое мероприятие", "Index", "EventCreation", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
        </div>
            
        <partial name="_LoginPartial" />
    </nav>
    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <footer> </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
