@model WebApp.Models.DataModels.Entities.User
@{
    ViewData["Title"] = "EmailValidExpired";
}

<link rel="stylesheet" href="~/css/signup-form.css">

<div class="signup-form">
    <form role="form" asp-action="RepeatEmailActivation" asp-controller="Registration">
        @using (Html.BeginForm())
        {
            <h2>Подтверждение почты</h2>
            <h4>Срок подтверждения данной электронной почты истек.</h4>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "Не удалось повторно отправить письмо, попробуйте снова")
            <div class="form-group" hidden>
                <label>Почта: </label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <h4>На почту @Model.Email будет отправлено новое письмо для подтверждения</h4>
            <input type="submit" value="Отправить подтверждение" class="btn btn-primary" />
        }
    </form>
</div>

