@model WebApp.Models.DataModels.Entities.Event
@{
    ViewData["Title"] = "EditEvent";
}

<div class="event-editor">
    <form role="form" asp-action="EditEvent" asp-controller="EventPage">
        <div class="col-xs-8 col-xs-offset-4">
            <h2>Редактирование мероприятия</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "Не удалось создать мероприятие, попробуйте снова")
                <div class="form-group">
                    <label>Название: </label>
                    @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                    @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Описание: </label>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Тема мероприятия: </label>
                    <select asp-for="EventTheme"
                            asp-items="@Html.GetEnumSelectList<WebApp.Models.DataModels.Entities.EventTheme>()">
                        <option selected="selected" value="">Выберите тему</option>
                    </select>
                    <br />
                    @Html.ValidationMessageFor(model => model.EventTheme, "", new { @class = "text-danger" })
                </div>
                <label>
                    Хотите изменить дату проведения?
                    <input type="checkbox" id="dateChange" />
                </label> <br />
                <div class="form-group" id="datePicker" style="display: none">
                    <label>Старая дата: @Model.Date.ToShortDateString()</label> <br />
                    <label>Новая дата: </label>
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @id = "datePickerField" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger", @id = "datePickerError" })
                </div>
                <label>
                    Хотите изменить время проведения?
                    <input type="checkbox" id="timeChange" />
                </label>
                <div class="form-group" id="timePicker" style="display: none">
                    <label>Старое время: @Model.Time.ToShortTimeString()</label> <br />
                    <label>Новое время: </label>
                    @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control", @id = "timePickerError" } })
                    @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger", @id = "timePickerError" })
                </div>
                <div class="form-group">
                    <label>Место: </label>
                    @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Количество участников: </label>
                    @Html.EditorFor(model => model.MaxParticipants, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaxParticipants, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Контакты: </label>
                    @Html.EditorFor(model => model.Contacts, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contacts, "", new { @class = "text-danger" })
                </div>
                <div class="form-group" hidden>
                    @Html.EditorFor(model => model.EventId, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <input type="submit" value="Изменить мероприятие" class="btn btn-primary" />
            }
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $("#dateChange").click(function () {
            if ($(this).is(":checked")) {
                $("#datePicker").show();
            } else {
                $("#datePicker").hide();
                document.getElementById("datePickerField").value = "";
                document.getElementById("datePickerError").value = "";
            }
        });
    });
    $(function () {
        $("#timeChange").click(function () {
            if ($(this).is(":checked")) {
                $("#timePicker").show();
            } else {
                $("#timePicker").hide();
                document.getElementById("timePickerField").value = "";
                document.getElementById("timePickerError").value = "";
            }
        });
    });
</script>

