@model WebApp.Models.DataModels.Entities.Event
@{
    ViewData["Title"] = Model.EventName;
}

@if (TempData["message"] != null)
{
    string alertType = "alert alert-" + TempData["alertType"];
    <div class="@alertType">
        @TempData["message"]
    </div>
}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="event-container d-flex">
            <div class="col event-container-wrap align-self-center">
                <div class="event-header d-flex align-items-end">
                    <div class="row">
                        <div class="icon-holder col-sm-1 d-flex align-items-center justify-content-center">
                            @{
                                TempData["eventIconId"] = (int)@Model.EventTheme;
                            }
                            <img id="eventIcon" src="~/img/eventIcons/eventIcon.svg" />
                        </div>
                        <div class="event-title col-sm">
                            <h6>Тема: @Model.EventTheme </h6>
                            <h1>@Model.EventName</h1>
                        </div>
                    </div>
                </div>
                <div class="event-data">
                    <div class="row keydata-container justify-content-center">
                        <div class="col-md-3 keydata-item">
                            <h4>Дата проведения:</h4>
                            <h5>@Model.Date.ToShortDateString()</h5>
                        </div>
                        <div class="col-md-3 keydata-item">
                            <h4>Начало мероприятия:</h4>
                            <h5>@Model.Time.ToShortTimeString()</h5>
                        </div>
                        <div class="col-md-3 keydata-item">
                            <h4>Место проведения:</h4>
                            <h5>@Model.Place</h5>
                        </div>
                    </div>
                    <div class="row event-info">
                        <div class="sidebar col-md-3 d-flex justify-content-center">
                            <div class="align-self-center">
                                @if (Model.MaxParticipants > 0)
                                {<div class="sidebar-item">
                                        <h5> Кол-во участников: </h5>
                                        <div class="progress">
                                            @{
                                                var progressBar = 100 * Model.Participants.Count / Model.MaxParticipants;
                                            }
                                            <div data-toggle="tooltip" data-placement="bottom" data-html="true"
                                                 title="@foreach (var participant in Model.Participants)
                                                 {<text>@participant.User.Name @participant.User.Surname</text> <br>}"
                                                 class="progress-bar" role="progressbar" style="width: @progressBar%;">@Model.Participants.Count из @Model.MaxParticipants</div>
                                            </div>
                                        </div>
                                    }
                                <div class="sidebar-item">
                                    <h5>Организатор: </h5>
                                    <h6>@TempData["organizerName"]</h6>
                                </div>
                                <div class="sidebar-item">
                                    <h5>Контакты: </h5>
                                    <h6>@Model.Contacts</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex align-items-start flex-column">
                            <div class="row event-description-container mb-auto">
                                <div class="event-description-content col-md">
                                    <h5> О мероприятии: </h5>
                                    <text>@Model.Description</text>
                                </div>
                            </div>
                            @if (Model.Participants.Select(p => p.User.Email).Contains(User.Identity.Name))
                            {
                                <h5 class="text-success">Вы участвуете в этом мероприятии</h5>
                            }
                            @if (Model.MaxParticipants == Model.Participants.Count)
                            {
                                <h4 class="text-primary">Максимальное количество участников</h4>
                            }
                            <div class="row button-container">
                                @if (Model.MaxParticipants < Model.Participants.Count || !Model.Participants.Select(p => p.User.Email).Contains(User.Identity.Name))
                                {
                                    @Html.ActionLink("Участвовать", "SubscribeToEvent", "EventPage", routeValues: Model, htmlAttributes: new { id = "subscribeButton", @class = "btn btn-primary" });
                                }
                                @if (TempData["organizerEmail"].ToString() == User.Identity.Name)
                                {
                                    @Html.ActionLink("Редактировать", "RedirectToEditEvent", "EventPage", routeValues: new { id = Model.EventId }, htmlAttributes: new { id = "editButton", @class = "btn btn-info" });
                                }
                                @if (Model.Participants.Select(p => p.User.Email).Contains(User.Identity.Name))
                                {
                                    <button type="button" data-toggle="modal" data-target="#exitEventModal" class="btn btn-secondary">Выход</button>
                                    <div class="modal" id="exitEventModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Отказ от участия в мероприятии</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Вы уверенны, что хотите отказаться от участия в этом мероприятии?</h5>
                                                    <br />
                                                    @Html.ActionLink("Да, я отказываюсь", "ExitEvent", "EventPage", routeValues: Model, htmlAttributes: new { id = "exitEventButton", @class = "btn btn-secondary" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (TempData["organizerEmail"].ToString() == User.Identity.Name)
                                {
                                    <button type="button" data-toggle="modal" data-target="#deleteEventModal" class="btn btn-danger">Удалить</button>
                                    <div class="modal" id="deleteEventModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Удаление мероприятия</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <h5>Вы уверенны, что хотите <b>безвозвратно</b> удалить мероприятие?</h5>
                                                    <br />
                                                    @Html.ActionLink("Да, удалить мероприятие", "DeleteEvent", "EventPage", routeValues: Model, htmlAttributes: new { id = "deleteButton", @class = "btn btn-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#eventIcon").attr("src", "/img/eventIcons/eventIcon" + @TempData["eventIconId"] + ".svg");
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('div[data-toggle=tooltip]').tooltip();
    });
</script>