@model WebApp.Models.DataModels.Entities.Event
@{
    ViewData["Title"] = Model.EventName;
}

@if (TempData["message"] != null)
{
    string alertType = "alert alert-" + TempData["alertType"];
    <div class="@alertType">
        @TempData["message"]
    </div>
}

<h2>@Model.EventName</h2>
<h3>@Model.Description</h3>
<h3>Дата: @Model.Date.ToShortDateString()</h3>
<h3>Время: @Model.Time.ToShortTimeString()</h3>
<h3>Место: @Model.Place</h3>
<h3>Тема: @Model.EventTheme</h3>
<h3>Контакты организатора: @Model.Contacts</h3>
@if (Model.MaxParticipants > 0)
{
    <h3>Кол-во участников: @Model.Participants.Count из @Model.MaxParticipants</h3>
}

<h3>Список участников: </h3>
@foreach (var participant in Model.Participants)
{
    <h4>@participant.User.Name @participant.User.Surname</h4>
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            @if (Model.MaxParticipants == Model.Participants.Count)
            {
                <h4 class="text-primary">Максимальное количество участников</h4>
            }
            else
            {
                @Html.ActionLink("Участвовать", "SubscribeToEvent", "EventPage", routeValues: Model, htmlAttributes: new { id = "subscribeButton", @class = "btn btn-primary" });
            }
            @if (TempData["organizerEmail"].ToString() == User.Identity.Name)
            {
                @Html.ActionLink("Редактировать", "RedirectToEditEvent", "EventPage", routeValues: Model, htmlAttributes: new { id = "editButton", @class = "btn btn-info" });
            }
            @if (Model.Participants.Select(p => p.User.Email).Contains(User.Identity.Name))
            {
                <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-secondary">Выход</button>
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Отказ от участия в мероприятии</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <h5>Вы уверенны, что хотите отказаться от участия в этом мероприятии?</h5>
                                <br />
                                @Html.ActionLink("Да, я отказываюсь", "ExitEvent", "EventPage", routeValues: Model, htmlAttributes: new { id = "exitEventButton", @class = "btn btn-secondary" })
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (TempData["organizerEmail"].ToString() == User.Identity.Name)
            {
                <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-danger">Удалить</button>
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Удаление мероприятия</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <h5>Вы уверенны, что хотите <b>безвозвратно</b> удалить мероприятие?</h5>
                                <br />
                                @Html.ActionLink("Да, удалить мероприятие", "DeleteEvent", "EventPage", routeValues: Model, htmlAttributes: new { id = "deleteButton", @class = "btn btn-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
