@model WebApp.Models.DataModels.Entities.Event
@{
    ViewData["Title"] = Model.EventName;
}

@if (TempData["message"] != null)
{
    string alertType = "alert alert-" + TempData["alertType"];
    <div class="@alertType">
        @TempData["message"]
    </div>
}

<h2>@Model.EventName</h2>
<h3>@Model.Description</h3>
<h3>Дата: @Model.Date.ToShortDateString()</h3>
<h3>Время: @Model.Time.ToShortTimeString()</h3>
<h3>Место: @Model.Place</h3>
<h3>Контакты организатора: @Model.Contacts</h3>
@if (Model.MaxParticipants > 0)
{
    <h3>Кол-во участников: @Model.Participants.Count из @Model.MaxParticipants</h3>
}

<h3>Список участников: </h3>
@foreach (var participant in Model.Participants)
{
    <h4>@participant.User.Name @participant.User.Surname</h4>
}
@if (Model.MaxParticipants == Model.Participants.Count)
{
    <h4 class="text-primary">Максимальное количество участников</h4>
}
else
{
    @Html.ActionLink("Участвовать", "SubscribeToEvent", "EventPage", routeValues: Model, htmlAttributes: new { id = "subscribeButton", @class = "btn btn-primary" });
}
@if (TempData["organizerEmail"].ToString() == User.Identity.Name)
{
    <br />
    <br />
    @Html.ActionLink("Редактировать", "RedirectToEditEvent", "EventPage", routeValues: Model, htmlAttributes: new { id = "editButton", @class = "btn btn-info" });
}

